#navbar {
    background: #952529;
}
#content {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
  }

#content em {
    color:#000000;
    font-weight: 100;
}
blockquote {
    border: .05rem dotted #8a9d9d;
    padding: 0px;
    background: #fffffa;
    position: relative;
}
pre {
    font-family:Arial, Helvetica, sans-serif;
    border: .05rem dotted #8a9d9d;
  }       
  
  code {
    font-family: 'Times New Roman', Times, serif;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background-color:#fffffa;
    border: .05rem dotted #8a9d9d;
  }
  #content code {
    display: block;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d2d2d2;
    background-color:#fffffa;
    color:rgb(78, 77, 77);
  }

#content H1 {
    font-family:'Times New Roman', Times, serif;
    color:rgb(38, 38, 38);
    font-size: 1.6 em;
    display: block;
    margin: 0px;
    font-weight: 100;
}   

#content H2 {
    font-size: 1.5 em;
    margin-left: 30px;
    text-indent: 0;
    padding: 0;
    color:rgb(38, 38, 38);
    font-weight: 100;
}

#content H3 {
    font-size: 1.4 em;
    text-indent: 0;
    color:rgb(72, 72, 72);
    font-weight: lighter;
    margin-left: 70px;
    display:block;
}

#content H4 {
    font-size: 1.4 em;
    text-indent: 0;
    color:rgb(72, 72, 72);
    font-weight: normal;
    display: block;
    margin-left: 90px;
    
}

#content H5 {
    font-size: 1.4 em;
    text-indent: 0;
    color:rgb(72, 72, 72);
    font-weight: normal;
    display: block;
    margin-left: 120px;
    
}

#content H6 {
    font-size: 1.4 em;
    text-indent: 0;
    color:rgb(72, 72, 72);
    font-weight: normal;
    display: block;
    margin-left: 160px;
    
}