.shortcut-example {
  box-shadow: 0 0 0 0.25rem steelblue;
  background-color: white;
  max-width: 50vw;
  padding: 1rem;
}
.shortcut-example::first-letter {
  padding-right: 0.25rem;
  color: steelblue;
  font-weight: bold;
  font-size: 3rem;
  float: left;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}       

code {
  font-family: 'Times New Roman', Times, serif
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background:white;

}
#content code {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}